<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>grimoire needs access to the camera for the webcam resource</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>grimoire needs access to the microphone for the microphone resource</string>
</dict>
</plist>
